$navbar-default-bg: #02401B ;

@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
} 

.center {
    text-align: center;
}
.jumbotron {
    background-image: asset-url('homepage-pic.png');
  background-size: cover;
  height: 300px;
}
.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
// Typography Styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
// Background Gradient
.navbar, .home-callout {
  /* Gradient provided by @_ighosh at uiGradients.com */
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
// Nav Styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
.footer-text {
  color: white;
  padding-top: 10px;
}
.indent-right {
  padding-right: 10px;
}

